.hero__section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  cursor: default;
}

.hero__controls {
  display: flex;
  gap: 0.5rem;
  position: absolute;
  top: 16px;
  right: 16px;
  -webkit-tap-highlight-color: transparent;
}

.hero__social {
  position: absolute;
  bottom: 16px;
  left: 16px;
  color: var(--accent-blue);
  -webkit-tap-highlight-color: transparent;
}

.down {
  position: absolute;
  bottom: 8px;
  color: var(--accent-blue);
}

.hero__credit {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 14px;
  color: var(--text-secondary);
}
.hero__credit {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 14px;
  color: var(--text-secondary);
}

.hero__credit p {
  display: flex;
}

@media (max-width: 32em) {
  .hero__credit p {
    flex-direction: column;
    align-items: flex-end;
  }
}
